<div class="login-container">

  <div class="login-card">

    <h2>Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="login()">

      <div>
        <label>Email</label>
        <input type="email" formControlName="email" />
      </div>

      <div>
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Ingresando...' : 'Login' }}
      </button>

      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

    </form>

  </div>

</div>